body {
     font-family: Arial,Helvetica,sans-serif;
     font-family: 'Roboto',sans-serif;
     background-image: url('./images/digimon-background.jpeg');
     background-repeat: no-repeat;
     background-size: cover;
}
#header-container {
     background-color:rgb(255,255,255,0.5);
     text-align: center;
     padding-top: 10px;
}
nav.navbar {
     border-top: rgba(211,211,211,0.5) solid;
     background-color:rgba(255,255,255,0.8);
}
#sortButton {
     float: right;
}
form {
     margin-right: 1500px;
}
#input {
     width: 150px;
}
#searchButton {
     margin-right: 10px;
}
#refreshButton {
     margin-right: 10px;
     border: 1px solid rgb(63,193,230);
     border-radius: 5px;
     transition: background-color 0.1s ease;
}
#refreshButton:hover {
     background-color:rgb(63,193,230);
}
#content-box {
     width: 80%;
     height: 800px;
     border: 5px solid lightgray;
     border-radius: 10px;
     border-color: rgba(177,222,235);
     background-color:rgba(255,255,255,0.5);
     margin: 0px auto;
     margin-top: 50px;
     margin-bottom: 50px;
     display: flex;
}
#left-digimon-info {
     width: 50%;
     height: 780px;
     text-align: center;
}
#left-digimon-info img {
     width: 300px;
     height: 300px;
     border: 1px solid black;
     border-radius: 10px;
     margin-top: 30px;
     margin-bottom: 30px;
     background-color:white;
}
.none {
     opacity: 0;
}
#digimonName {
     margin: 5px;
     border: 1px solid black;
     border-radius: 10px;
     padding: 10px;
     background-color:white;
     font-weight: bold;
}
#yearReleased {
     margin: 20px;
     margin-left: 38%;
     padding: 10px;
     border: 1px solid black;
     border-radius: 10px;
     background-color:white;
     font-weight: bold;
     display: flex;
     width: 24%;
}
.type-box {
     margin: 5px;
     padding: 10px;
     border: 1px solid black;
     border-radius: 10px;
     background-color:white;
     font-weight: bold;
}
#digimon-description {
     margin: 20px;
     padding: 10px;
     border: 1px solid black;
     border-radius: 10px;
     background-color:white;
     overflow-y: auto;
     max-height: 270px;
}
#digimon-list {
     width: 50%;
     height: 780px;
     overflow-y: auto;
     display: flex;
     flex-direction: column;
     font-size: x-large;
}
.digimonNameList {
     border: 1px solid black;
     border-radius: 10px;
     background-color:white;
     margin: 5px;
     padding: 5px;
     text-align: center;
     background-color:rgba(177,222,235,0.8);
}
.digimonNameList:hover {
     background-color:rgb(70,117,218);
}
.digimonNameList:active {
     background-color:white;
}